<div clas="row">
    <h1>Experiencia Laboral </h1>
    <div class="col-log-1"></div>
    <div class="col-log-11">
        <ul>
            <li>
                <img src="../../../assets/benji point.jpg" id="ftbenji">
            </li>
                <h1>Kiosco Benjipoint</h1>
            <p id="tareas">Tareas administrativas,Cajera</p>
            <p>Atencion al cliente,Proveedores</p>
            <p>Control,Organizacion de stock,fecha de
                vencimientos,Limpieza </p>
             <h3>2016 - 2018</h3>
        </ul>
        <ul>
            <li>
                <img src="../../../assets/descarga.png" id=ftanik>
            </li>
                <h1>Tienda de Ropa Anik</h1> 
                <p>Vendedora</p>
                <p>Atencion al cliente,Cajera.</p>
                <h3>2019 (5meses)</h3>
        </ul>
        <ul>
            <li>
                <img src="../../../assets/distri17 (1).jpg" id="ftdistri">
                <h1>Distribuidora 17</h1>
                <p>Cajera
                    Atencion al cliente y Proveedores</p>
                 <p>Organizacion de stock y fecha de vencimiento,Exel,Word.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <img src="../../../assets/logo-supermercado.png" id="ftgolosinas">
            </li>
            <h1>Super Kiosco Golosinas</h1>        
        <p>Cajera
                Metas,objetivos determinados para vender la mercaderia antes de su vencimiento</p>
                <p>Atencion al cliente</p>
                <p>Exel,control y organizacion de stock.</p>
                <h3>2021 (3meses)</h3>
        </ul>
        <ul>
            <li>
                <img src="../../../assets/tendy.jpg" id="fttendy">
                <h1>Supermercado Tendy</h1>
             <p>Cajera</p>
              <p>Atencion al cliente</p>
              <h3>Actualmente</h3>
            </li>
        </ul>
    </div>
</div>