<div class="conteiner">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/nuevo perfil.jpg" alt="" width="70%" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Karen Daiana Carrizo</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1 id="acercatitulo">Acerca de mi</h1>
                <p>Experta en ventas,atencion publica,Desarrollarme en paginas web,aplicaciones donde pueda aplicar mis
                    experiencias,conocimientos en mi sector y en las distintas areas asignadas con un buen desempeño.
                </p>
            </span>
        </div>
    </div>